:root {
    --bg-color: #251734;
    --secondary-bg-color: #b3b3b3;
    --text-color: #fff;
    --primary-color: #bb86f6;
    --primary-text: #fff;
    --secondary-text: #251734;
    --lift-color: #bb86f6;
    --error: #e17186;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
    line-height: 1.5;
}

.user-input {
    display: block;
    background-color: var(--bg-color);
}

.h-full {
    height: 100vh;
}

.w-full {
    width: 100vw;
}

.font-color-primary {
    color: var(--primary-text);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gap-4 {
    gap: 1rem;
}

.input-form {
    height: 100%; 
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--secondary-text);
}

.grid-item {
    justify-self: end;
    align-self: center;
}

.inputs {
    padding: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    outline: none
}

.input-label {
    display: block;
}

.btn {
    padding: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.back-btn {
    margin: 1rem 0 2rem 1rem
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.floor-container {
    display: flex;
    flex-direction: column;
}

.floor-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.line-split {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
}

.lift-btn {
    /* width: fit-content */
}

.lift {
    width: 2.5rem;
    height: 3.5rem;
    background-color: var(--lift-color);
    display: flex;
}

.left-door {
    width: 50%;
    border: 2px solid var(--secondary-bg-color)
}

.opened-door {
    background-color: var(--error);
}

.closed-door {
    background-color: var(--lift-color);
}

.right-door {
    width: 1.25rem;
    border: 2px solid var(--secondary-bg-color)
}

.floor-label {
    color: var(--primary-text);
}

.alert {
    position: absolute;
    top: 2%;
    right: 4%;
    color: var(--bg-color);
    background-color: var(--primary-text);
    padding: 1rem;
}