:root {
    --bg-color: #251734;
    --secondary-bg-color: #b3b3b3;
    --text-color: #fff;
    --primary-color: #bb86f6;
    --primary-text: #fff;
    --secondary-text: #251734;
    --lift-color: #bb86f6;
    --error: #e17186;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
    line-height: 1.5;
}

.user-input {
    display: block;
    background-color: var(--bg-color);
}

.h-full {
    height: 100vh;
}

.w-full {
    width: 100vw;
}

.font-color-primary {
    color: var(--primary-text);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gap-4 {
    gap: 1rem;
}



.input-form {
    color: var(--secondary-text);
    background-color: var(--secondary-bg-color) ;
}

.inputs {
    padding: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    outline: none
}

.input-label {
    display: block;
}